<template>
  <main id="content">
      <router-view/>
    </main>
</template>
<script>
export default {
  name: 'Content'
}
</script>

<style lang="sass" scoped>
#content
  background-color: #ebebeb
  min-height: calc(100vh - 30px - 60px)
  padding-top: 30px
  padding-bottom: 60px
</style>
