<template>
  <footer id="footer">
    <router-view name="footer"></router-view>
  </footer>
</template>
<script>
export default {
  name: "Footer"
};
</script>

<style lang="sass" scoped>
#footer
  background-color: #42b983
  padding: 0 15px
  min-height: 30px
  position: fixed
  bottom: 0
  left: 0
  width: 100%
</style>


