<template>
	<header id="navigation" class="border-bottom">
		<div class="wrapper d-flex">
			<div class="logo d-flex">
        <router-link to="/">
				  <img src="/static/logo.png">
				  <div class="title d-inline-block">InfiniteStory</div>
        </router-link>
			</div>
			<div class="routes"></div>
      <user-profile></user-profile>
    </div>
	</header>
</template>

<script>
import Popper from 'popper.js'
import UserProfile from 'partials/UserProfile'
import 'bootstrap'
export default {
  name: "Header",
  components: { 'user-profile': UserProfile }
};
</script>
<style lang="sass" scoped>
#navigation
  position: fixed
  top: 0
  left: 0
  height: 60px
  width: 100%
  border-color: #d3e0e9
  background-color: white
  padding: 0 15px
  z-index: 1070 //bootstrap std
  .wrapper
    height: 100%
    justify-content: space-between
    align-items: center
    .logo
      align-items: center
      a
        text-decoration: none
        color: #2c3e50
      img
        width: 50px
        height: 50px
      .title
        font-size: 21px
        margin-left: 15px
</style>

