<template>
	<div class="chat-wrapper d-flex flex-column justify-content-between pt-2 pb-2 text-left">
    <div class="greeting-wrapper d-inline-block mb-2">
      <small>Willkommen im Chat</small>
      <small><span class="text-muted pull-right">#{{conversation}}</span></small>
    </div>
    <div class="message-wrapper flex-grow-1">
      <div class="inner d-flex flex-reverse flex-column-reverse">
        <message
          v-if="conversation"
          v-for="message in messages"
          :message="message"
          :key="message.created"
          />
      </div>
    </div>
    <div class="input-wrapper mt-2">
		  <input class="px-1" v-model="newMessageText" :disabled="notAllowed" @keyup.enter="send" placeholder="Eine Nachricht senden" />
    </div>
	</div>
</template>
<script>
import Message from "partials/Message";
import { mapState } from "vuex";
import user from 'mixins/currentuser'
export default {
  name: "Chat",
  mixins: [user],
  components: { "message":	Message },
	props: ["conversation"],
	data() {
		return {
      newMessageText: "",
      unsub: null
		};
  },
	mounted() {

		this.unsub = this.$store.state.db
			.collection("conversations")
			.doc(this.conversation).collection('messages').orderBy('created', 'asc')
			.onSnapshot(messages => {
				/**
				 * You could use perhaps use this to show a "member is typing..." notification.
				 * If hasPendingWrites is true, the data has not been written yet, and if it's false, it has.
				 */

				let source = messages.metadata.hasPendingWrites ? "Local" : "Server";
				console.log(`Source ${source}`);

        messages.forEach(doc => {
            // console.log(doc.id, '=>', doc.data());
            this.$store.commit("conversations/ADD_MESSAGE", {
							conversationId: this.conversation,
							message: doc
						})
        });
			});
	},
	methods: {
		send () {
      if( this.newMessageText == "") return false;
			this.$store.dispatch('conversations/sendMessage', {
				text: this.newMessageText,
				created: Date.now(),
				conversationId: this.conversation,
				sender: this.current_user_id
      })
      this.newMessageText = ""
    }
  },
  computed: {
    ...mapState({
      messages: state => state.conversations.currentMessages,
    })
  },
  beforeDestroy(){
    this.unsub()
  }
};
</script>
<style lang="sass" scoped>
.chat-wrapper
  height: 60vh
  .message-wrapper
    position: relative
    // margin-right: -15px
    .inner
      overflow-y: scroll
      height: 100%
      position: absolute
      bottom: 0
      overflow: auto
      overscroll-behavior-y: contain
      padding-right: 15px
      margin-right: -15px
      width: 100%
input
  width: 100%
  height: 2em
  font-size: 14px
</style>
