<template>
<div class="card">
  <div class="card-img-top">
  <svg :width="size" :height="size" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-book">
	<path d="M20 25L80 25L80 75L20 75Z"
	 fill="#42b983" stroke="#35495e" stroke-width="2"></path>
	<path d="M 50 25 L 54.2857 20.7143 L 54.2857 79.2857 L 50 75"
	 stroke-linejoin="round" stroke-linecap="round" fill="#42b983" stroke="#35495e" stroke-width="2">
		<animate attributeName="d" calcMode="linear" values="M50 25L80 25L80 75L50 75;M50 25L50 20L50 80L50 75;M50 25L80 25L80 75L50 75;M50 25L80 25L80 75L50 75"
		 keyTimes="0;0.5;0.501;1" dur="1.4" begin="0s" repeatCount="indefinite"></animate>
		<animate attributeName="opacity" calcMode="linear" values="1;1;0;0" keyTimes="0;0.5;0.5001;1" dur="1.4" begin="0s"
		 repeatCount="indefinite"></animate>
	</path>
	<path d="M 50 25 L 80 25 L 80 75 L 50 75"
	 stroke-linejoin="round" stroke-linecap="round" fill="#42b983" stroke="#35495e" stroke-width="2">
		<animate attributeName="d" calcMode="linear" values="M50 25L80 25L80 75L50 75;M50 25L50 20L50 80L50 75;M50 25L80 25L80 75L50 75;M50 25L80 25L80 75L50 75"
		 keyTimes="0;0.5;0.501;1" dur="1.4" begin="-0.2324s" repeatCount="indefinite"></animate>
		<animate attributeName="opacity" calcMode="linear" values="1;1;0;0" keyTimes="0;0.5;0.5001;1" dur="1.4" begin="-0.2324s"
		 repeatCount="indefinite"></animate>
	</path>
	<path d="M 50 25 L 80 25 L 80 75 L 50 75"
	 stroke-linejoin="round" stroke-linecap="round" fill="#42b983" stroke="#35495e" stroke-width="2">
		<animate attributeName="d" calcMode="linear" values="M50 25L80 25L80 75L50 75;M50 25L50 20L50 80L50 75;M50 25L80 25L80 75L50 75;M50 25L80 25L80 75L50 75"
		 keyTimes="0;0.5;0.501;1" dur="1.4" begin="-0.46199999999999997s" repeatCount="indefinite"></animate>
		<animate attributeName="opacity" calcMode="linear" values="1;1;0;0" keyTimes="0;0.5;0.5001;1" dur="1.4" begin="-0.46199999999999997s"
		 repeatCount="indefinite"></animate>
	</path>
	<path d="M 50 25 L 34.4857 22.5857 L 34.4857 77.4143 L 50 75"
	 stroke-linejoin="round" stroke-linecap="round" fill="#42b983" stroke="#35495e" stroke-width="2">
		<animate attributeName="d" calcMode="linear" values="M50 25L20 25L20 75L50 75;M50 25L20 25L20 75L50 75;M50 25L50 20L50 80L50 75;M50 25L20 25L20 75L50 75"
		 keyTimes="0;0.499;0.5;1" dur="1.4" begin="-0.46199999999999997s" repeatCount="indefinite"></animate>
		<animate attributeName="opacity" calcMode="linear" values="0;0;1;1" keyTimes="0;0.4999;0.5;1" dur="1.4" begin="-0.46199999999999997s"
		 repeatCount="indefinite"></animate>
	</path>
	<path d="M 50 25 L 44.3257 20.9457 L 44.3257 79.0543 L 50 75"
	 stroke-linejoin="round" stroke-linecap="round" fill="#42b983" stroke="#35495e" stroke-width="2">
		<animate attributeName="d" calcMode="linear" values="M50 25L20 25L20 75L50 75;M50 25L20 25L20 75L50 75;M50 25L50 20L50 80L50 75;M50 25L20 25L20 75L50 75"
		 keyTimes="0;0.499;0.5;1" dur="1.4" begin="-0.2324s" repeatCount="indefinite"></animate>
		<animate attributeName="opacity" calcMode="linear" values="0;0;1;1" keyTimes="0;0.4999;0.5;1" dur="1.4" begin="-0.2324s"
		 repeatCount="indefinite"></animate>
	</path>
	<path d="M 50 25 L 20 25 L 20 75 L 50 75"
	 stroke-linejoin="round" stroke-linecap="round" fill="#42b983" stroke="#35495e" stroke-width="2">
		<animate attributeName="d" calcMode="linear" values="M50 25L20 25L20 75L50 75;M50 25L20 25L20 75L50 75;M50 25L50 20L50 80L50 75;M50 25L20 25L20 75L50 75"
		 keyTimes="0;0.499;0.5;1" dur="1.4" begin="0s" repeatCount="indefinite"></animate>
		<animate attributeName="opacity" calcMode="linear" values="0;0;1;1" keyTimes="0;0.4999;0.5;1" dur="1.4" begin="0s"
		 repeatCount="indefinite"></animate>
	</path>
</svg>

  </div>
  <div class="card-body">
    <h5 class="card-title">{{loaderMessage}}</h5>
  </div>

</div>
</template>
<script>
export default {
  name: "Loader",
  props: {
    size: {
      default: 100,
      type: Number
    },
    loaderMessage: {
      default: "Loading ...",
      type: String
    },
  }
}
</script>
<style lang="sass" scoped>
.card
  margin: auto
  width: 320px
</style>
