<template>
  <div class="message-container">
    <div :class="messageClass">
      <span class="author">{{ user.username }}</span>: {{ message.text }}
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
export default {
  name: "Message",
  props: {
    message: {
      type: Object,
      required: true
    }
  },
  created(){
    this.$store.dispatch('users/getSingle', this.message.sender)
  },
  computed: {
    messageClass() {
      if (this.message.sender === this.$store.state.users.currentUser) {
        return "my message";
      } else {
        return "message";
      }
    },
    // username() {
      // let userID = this.message.sender;
      // let user = this.users[userID];
      // if(user) return user.username;
      // else return "Nutzer"
    // },
    ...mapState({
      user(state) { return state.users.all[this.message.sender] || {username: ""} }
    })
  },
};
</script>
<style lang="sass" scoped>
.message
  text-align: left
  font-size: 14px
  .author
    font-weight: 600
    color: #35495e
  &.my
    .author
      color: #42b983
</style>
