<template>
  <div class="d-flex flex-row justify-content-center action-wrapper">
    <!-- <button class="btn btn-link disabled">
      <i class="fas fa-edit"></i><br>
      <span>bearbeiten</span>
    </button>
    <button class="btn btn-link disabled">
      <i class="fas fa-book"></i><br>
      <span>lesen</span>
    </button>
    <router-link class="btn btn-link" :to="storyid+'/continue/testbranch'" :class="{ 'disabled': notAllowed }" :title="notAllowed ? 'Login benötigt' : ''" data-toggle="tooltip" data-placement="top">
      <i class="fas fa-plus"></i><br>
      <span>neu</span>
    </router-link> -->
  </div>
</template>
<script>
import user from 'mixins/currentuser'
export default {
  name: "StoryFooter",
  props: ["storyid"],
  mixins: [user],
  mounted(){

  }
}
</script>
<style lang="sass" scoped>
// .action-wrapper
  // .btn
  //   color: #35495e
  //   text-decoration: none
  //   border-radius: 0
  //   width: 100px
  //   position: relative
  //   &:after
  //     content: ""
  //     right: 0
  //     width: 1px
  //     background-color: #35495e
  //     height: 40px
  //     display: inline-block
  //     position: absolute
  //     top: 50%
  //     transform: translateY(-50%)
  //   &:last-child
  //     &:after
  //       content: none
</style>
