<template>
  <div class="story-single-wrapper">
    <!-- Loader -->
    <div v-if="loaded">
      <!-- storey informations -->
      <div v-if="stories[storyid]">
        <h2>{{stories[storyid].title}}</h2>
        <div class="story-details d-flex justify-content-center flex-wrap mt-4 mb-4">
          <widget label="Autor" :value="authorname" icon="fas fa-user" color="secondary"></widget>
          <widget label="Erstellung" :value="dateString(stories[storyid].created)" icon="fas fa-clock" color="secondary"></widget>
          <widget label="Absätze" :value="Object.keys(paragraphs).length" icon="fas fa-paragraph" color="secondary"></widget>
          <widget label="Bearbeitung" :value="dateString(stories[storyid].updated)" icon="fas fa-clock" color="secondary"></widget>
        </div>
      </div>
      <!-- paragraphlist -->
      <!-- If no paragraphs created yet -->
      <div v-if="!paragraphs[storyid] || paragraphs[storyid].length === 0">
        <div class="card d-inline-block bg-warning">
          <div class="card-header">
            <i class="fas fa-exclamation-triangle fa-5x"></i>
          </div>
          <div class="card-body">
            <div class="text-wrapper">
              <h3>Es wurde noch nicht eine Zeile geschrieben...<br>Schreibe den ersten Absatz!</h3>
              <div class="button-wrapper mt-4">
                <router-link class="btn btn-secondary" :to="storyid+'/continue/root'" :class="{ 'disabled': !user.current }" replace>los geht's</router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-else class="paragraph-list-wrapper">
        <!-- Paragraph -->
          <div class="card text-left" v-for="(paragraph, key, index) in paragraphs[storyid]" :key="key">
            <div class="index text-muted"><small>#{{index+1}}</small></div>
            <div class="card-body">
              {{paragraph.text}}
            </div>
          </div>
          <div v-if="!loadedParagraphes">
            <loader loaderMessage="Schlage Bücher auf..."></loader>
          </div>

          <!-- Action Button to create new paragraph -->
          <div class="branch-wrapper mt-3 text-left">
            <!-- Branchslider -->
            <div class="branch-list-wrapper" v-if="branchList.length > 1">
              <div class="alert alert-warning" role="alert">
                Ab diesem Punkt existieren verschiedene Geschichtsverläufe. Welchem möchtest du folgen?
              </div>
              <slick ref="slick" :options="slickOptions">
                <div class="card bg-secondary text-white" v-for="(branch, key) in branchList" :key="key" @click="focusBranch(branch)">
                  <!-- <img class="card-img" src="" alt="Card image"> -->
                  <div class="card-background">
                    <i class="fas fa-5x fa-code-branch fa-flip-horizontal"></i>
                  </div>
                  <div class="card-body">
                    <span class="card-title">{{branch}}</span>
                  </div>
                  <div class="card-footer">
                    <span><i class="far fa-thumbs-up"></i> 42</span>
                    <span><i class="fas fa-paragraph"></i> 123</span>
                    <span><i class="fas fa-code-branch"></i> 2</span>
                  </div>
                </div>
              </slick>
            </div>
            <div class="action-wrapper mt-3 text-left" v-else>
              <!-- <router-link  class="btn btn-secondary" :to="storyid+'/continue/'+scopedBranch" :class="{ 'disabled': !user.current }" replace>Schreibe jetzt deine Fortsetzung!</router-link> -->
              <router-link  class="btn btn-primary rounded-circle" :to="storyid+'/continue/'+scopedBranch" :class="{ 'disabled': !user.current }" replace><i class="fas fa-plus"></i></router-link>
            </div>
            <!-- Continue button -->
          </div>
        </div>
    </div>
    <div v-else>
      <loader loaderMessage="Schlage Bücher auf..."></loader>
    </div>
  </div>
</template>
<script>
import Loader from 'partials/Loader'
import Widget from 'partials/Widget'
import Slick from 'vue-slick'
import date from 'mixins/date'
import slick from 'mixins/slick'
import user from 'mixins/currentuser'
import { mapState } from 'vuex'
export default {
  name: "StorySingle",
  components: { 'loader': Loader, 'widget': Widget, 'slick': Slick },
  props: ['storyid'],
  mixins: [date, user, slick],
  data(){
    return {
      scopedBranch: 'root',
      branchList: [],
      lastTimestamp: 0,
      loaded: false,
      loadedParagraphes: false,
      unsub: null,
      branchCounter: 0
    }
  },
  created () {
    console.log("story id:", this.storyid);
    this.$store.dispatch('stories/get')
    this.$store.dispatch('users/get')
  },
  mounted(){
    //evtl Probleme mit databindung auf dynamischen scopedBranch
    this.setUpParagraphListener(this.lastTimestamp)
  },
  computed: {
    ...mapState({
      paragraphs: state => state.paragraphs.all,
      paragraphIds: state => state.paragraphs.allParagraphIds,
      users: state => state.users.all,
      stories: state => state.stories.all,
      branchQueue: state => state.stories.branchQueue
    }),
    authorname(){
      let authorid = this.stories[this.storyid].author;
      return this.users[authorid].username || "unknown";
    }
  },
  watch: {
    '$route': 'reinit'
  },
  methods: {
    setUpParagraphListener(){
      this.loadedParagraphes = false;
      this.unsub = this.$store.state.db
      .collection("stories").doc(this.storyid)
      .collection('paragraphs')
        .where('branch', '==', this.scopedBranch)
        .where('created', '>', this.lastTimestamp)
        .orderBy('created')
      .onSnapshot(paragraphs => {
        console.log("paragraphs:", { data: paragraphs.docs });
        this.storeParagraphs( paragraphs )
        this.loaded = true
        this.loadedParagraphes = true;
      });
    },
    isNew(paragraph){
      if(!paragraph) return false

      let isIn = false
      let hasSome = false
      if(this.paragraphIds[this.storyid]){
        isIn = this.paragraphIds[this.storyid].includes(paragraph.id)
        hasSome = this.paragraphIds[this.storyid].length > 0
      }
      else
        isIn = false
        hasSome = false
      // this.paragraphIds[this.storyid] ? this.paragraphIds[this.storyid].includes(paragraph.id) : false
      return hasSome && !isIn
    },
    storeParagraphs( paragraphs ){

      let alternative_branches = []
      let loadNewParagraphsAutomatic = false

      for(const [i, paragraph] of paragraphs.docs.entries()){
        let data = paragraph.data()

        let paragraph_branch = data.branch
        alternative_branches = data.branches || []

        this.lastTimestamp = paragraph.data().created
        //paragraph muss geladen werden, bevor die weiche für folgende branches gestellt wird
        this.$store.dispatch("paragraphs/addParagraph", { storyid: this.storyid, paragraph: paragraph} )


        //branches > 1 da aktueller branch stets enthalten
        if (alternative_branches.length > 1) {
          console.log("alternative branches detected", alternative_branches);
          console.log("branchQueue position", this.branchCounter);

          let queuedBranch
          try {
            queuedBranch = this.branchQueue[this.storyid][this.branchCounter]
          } catch (error) { /** bisher keine locale branchQueue **/ }
          console.log("branchQueue item", queuedBranch);

          if(queuedBranch && alternative_branches.includes( queuedBranch ) ){
              //position i in branchQueue ist in alternativer branchListe des Paragraphen
              console.log("found stored branchQueue entry");
              //flag um nach dem break des forEach den neuen Branch zu fokusen
              loadNewParagraphsAutomatic = true
          }else{
            //falls nein, warte auf usereingabe
            //display alternative branches
            this.branchList = alternative_branches
          }
          // return false
          break
        }
      }
      //after foreach
      if(loadNewParagraphsAutomatic){
        console.log("loading branch paragraphs by brachQueue");
        this.focusBranch( this.branchQueue[this.storyid][this.branchCounter] , true)
      }
    },
    focusBranch(branch, automated = false){
      console.log("focus branch:", branch);
      this.unsub()
      this.scopedBranch = branch
      this.branchList = []
      this.branchCounter++
      //Update story store mit branchliste an storyid
      // Queue, falls nicht in automatischer nachlade Routine
      if(!automated){
        this.$store.dispatch("stories/addBranchQueue", {storyid: this.storyid, branch })
      }
      //listen for new paragraphs
      this.setUpParagraphListener()
    },
    reinit(){
      this.unsub()
      this.loaded = false
      this.loadedParagraphes = false
      this.scopedBranch = "root"
      this.branchList = []
      this.lastTimestamp = 0
      this.setUpParagraphListener()
    }
  },
  beforeDestroy(){
    this.unsub()
  },
}
</script>
<style lang="sass">
.index
  position: absolute
  top: 5px
  right: 5px
  line-height: 1
.story-single-wrapper
  padding-bottom: 25px


$slick-font-path: "../../css/tools/slick/fonts/"
$slick-loader-path: "../../css/tools/slick/"
@import ../../css/tools/slick/slick
@import ../../css/tools/slick/slick-theme
.slick-track
  .slick-slide
    min-width: 200px
    margin: .5em
    overflow: hidden
.branch-list-wrapper
  .card
    cursor: pointer
    .card-body
      position: relative
      overflow: hidden
      // padding-right: 30px
    .card-background
      position: absolute
      bottom: -10px
      right: -8px
      opacity: .3
    .card-footer
      span
        padding-right: 5px
.action-wrapper
  position: fixed
  bottom: 80px
  right: 50px
  .btn
    padding: 10px 17.5px
    font-size: 24px
</style>
