<template>
  <div class="stories-list mt-4">
      <div v-if="!loaded">
        <loader loaderMessage="Durchsuche Regale..."></loader>
      </div>
      <div class="story-list-wrapper" v-else >

        <div v-for="(story, id) in stories" :key="id" class="card">
        <!-- <div v-for="(story, id) in stories" :key="id" class="card"> -->
          <div class="card-body text-left">
            <router-link :to="'/story/'+id">
              <h5 class="card-title d-inline-block">{{story.title}}</h5>
            </router-link>
            <div class="d-flex flex-column text-right pull-right float-sm-right">
              <small>erstellt von {{users[story.author].username}}</small>
              <small class="text-muted">Zuletzt vor {{lastUpdated(story.updated)}} bearbeitet</small>
            </div>
          </div>
        </div>
        <div class="action-wrapper mt-3 text-left">
          <button type="button" class="btn btn-primary rounded-circle" @click="createNewStory">
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </div>
  </div>
</template>

<script>
import Loader from 'partials/Loader'
import date from 'mixins/date'
import { mapState } from 'vuex'
import user from 'mixins/currentuser'
export default {
  name: "StoryList",
  components: { 'loader': Loader },
  mixins: [date,user],
  data() {
    return {
      loaded: false,
      unsub: null
    };
  },
  created () {
    this.$store.dispatch('users/get')
  },
  mounted(){
    this.unsub = this.$store.state.db
			.collection("stories").orderBy('updated', 'desc')
			.onSnapshot(stories => {
        this.loaded = false;
        console.log("stories:", {data: stories.docs });
        stories.docs.forEach( story => {
          this.$store.dispatch("stories/addStory", story )
        });
        this.loaded = true;
			});
  },
  methods: {
    createNewStory(){

      this.$swal({
        type: "question",
        title: 'Wie lautet der Titel deiner Geschichte?',
        text: "wähle einen interessanten Namen, um die Aufmerksamkeit anderer Autoren zu erhalten!",
        input: 'text',
        inputPlaceholder: '',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Bestätigen',
        cancelButtonText: 'Abbrechen',
        showCancelButton: true,
        inputValidator: (value) => {
          return !value && 'Jede Geschichte braucht einen Namen!'
        }
      }).then((result) => {
        if(result.value){
          console.log(result.value)
          this.$store.dispatch('stories/createStory', {
            title: result.value,
            author: this.current_user_id,
            created: Date.now(),
            updated: Date.now()
          })

        }

      })
    }
  },
  computed: {
    ...mapState({
      stories: state => state.stories.all,
      users: state => state.users.all,
    })
  },
  beforeDestroy(){
    this.unsub()
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
.action-wrapper
  position: fixed
  bottom: 80px
  right: 50px
  .btn
    padding: 10px 17.5px
    font-size: 24px
</style>
