<template>
  <div class="profile">
    <div class="btn-group" v-if="user.current">
      <a class="dropdown-toggle profileimage" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-chevron-down indicator"></i>
        <img src="/static/nouser.png" class="img-fluid rounded-circle">
      </a>
      <div class="dropdown-menu">
        <div class="profilename">
          <img src="/static/nouser.png" class="img-fluid rounded-circle">
          <div>{{user.current.username}}</div>
        </div>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <button class="btn btn-link dropdown-item"  @click="logout"><i class="fas fa-power-off"></i>ausloggen</button>
      </div>
    </div>
    <div v-else>
      <router-link class="btn btn-link" to="/sign-up">registrieren</router-link>
      <router-link class="btn btn-link" to="/login">login</router-link>
    </div>
  </div>
</template>
<script>
import user from 'mixins/currentuser'
export default {
  name: 'UserProfile',
  mixins: [user],
  data(){
    return {}
  },
  created(){
    console.log("user id:", this.current_user_id);
  }
}
</script>
<style lang="sass" scoped>
.profile
  img
    height: 50px
    width: 50px
    border: solid 1px #35495e
  .dropdown-toggle
    text-decoration: none
    &:after
      content: none
  .indicator
    // transform: translateY(2px)
    // color: #35495e
    display: none
  .profilename
    padding: 5px 15px 0
    text-align: center
    // font-weight: 800
  .dropdown-menu
    i
      padding-right: 5px
</style>

