<template>
  <div class="card text-white mb-1 mx-1" :class="'bg-'+color">
    <div class="card-body d-flex justify-content-between align-items-center">
      <i class="fa-3x" :class="icon"></i>
      <div class="ml-4 text-right">
        <small>{{label}}</small>
        <h4>{{value}}</h4>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "Widget",
  props: ["label", "value", "icon", "color"]
}
</script>
<style lang="sass" scoped>
.card-body
  @media(max-width: 767px)
    padding: 10px
h4
  margin-bottom: 0
i
  // font-size: 1.5em

  // @media(min-width: 768px)
  font-size: 2em
  @media(min-width: 991px)
    font-size: 3em
</style>

