<template>
  <div class="dashboard">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <div class="row">

            <div class="col-sm-8 d-flex flex-column">
              <div class="d-block text-center mb-2">
                <div class="header">
                  <div class="text">
                    Deine Fortsetzung von<br>
                    <h4 v-if="stories[this.storyid]" >"{{ stories[this.storyid].title }}"</h4>
                  </div>
                  <div class="locker d-inline float-right">
                    <button class="btn btn-link text-secondary" v-if="notMine && !notAllowed" @click="newBranch">
                      <i class="fas fa-code-branch"></i>
                    </button>
                    <button class="btn btn-link text-secondary" :disabled="notAllowed || disabled || notMine" @click="lock" v-if="!resumption.locked">
                      <i class="fas fa-lock-open"></i>
                    </button>
                    <button class="btn btn-link text-secondary" :disabled="notAllowed || disabled || notMine" @click="unlock" v-else>
                      <i class="fas fa-lock"></i>
                    </button>
                  </div>
                </div>
              </div>
              <textarea autofocus v-model="resumption.text" @keyup="update" class="form-control flex-grow-1" :disabled="disabled || notAllowed" placeholder="Was geschah dann?" />
              <button type="submit" @click="send" :disabled="disabled || notAllowed || notMine" class="form-control btn btn-secondary mt-3 align-self-end">Senden</button>
              <!-- <button @click="init">init</button> -->
            </div>

            <div class="col-sm-4 bg-light">
              <chat v-if="stories[this.storyid] && stories[this.storyid].conversation" :conversation="stories[this.storyid].conversation"></chat>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
//mixins
//components
import StorySingle from 'partials/StorySingle'
import Chat from 'partials/Chat'
import { mapState } from 'vuex'
import user from 'mixins/currentuser'

export default {
  name: "Authorroom",
  mixins: [user],
  props: ['storyid'],
  data() {
    return {
      resumption: {
        text: "",
        locked: false,
        author: null,
        finished: false
      },
      leaving: false,
      unsub: null
    };
  },
  components: { "chat": Chat },
  created(){
    this.$store.dispatch('stories/get')
  },
  mounted(){

		this.unsub = this.$store.state.db
			.collection("stories")
			.doc(this.storyid)
			.onSnapshot(storysnap => {
        if(!this.leaving){
          let source = storysnap.metadata.hasPendingWrites ? "Local" : "Server";
          // console.log(`Source ${source}`);
          let story = storysnap.data();

          if(!story.resumption || !story.resumption.author){
            console.log("creating new resumption");
            this.createResumption();
            //update führt zum reload des storyobjektes - bein conversion check wird evtl erneut geupdated - kann zu problemen führen
            return false
          }else{
            this.resumption.text = story.resumption.text || ""
            this.resumption.author = story.resumption.author || null
            this.resumption.locked = story.resumption.locked || false
            this.resumption.finished = story.resumption.finished || false
          }

          //prüfe conversation
          if(!story.conversation){
            console.log("creating new conversation")
            let tmp = this.$store.dispatch("conversations/create", {
              created: Date.now(),
            }).then((convRef) => {
              let convoid = convRef.id
              console.log(convoid);
              console.log("leaving: ",this.leaving);

              this.$store.dispatch("stories/update", {
                storyid: this.storyid,
                storyFields: {
                  conversation: convoid
                }
              })
            })
          }
        }

			});
  },
  watch: {
    'resumption.finished': function (newVal, oldVal){
      if(newVal === true){
        //sweetalert - Abschnitt wurde submitted - anschließend rausschmeißen
        this.$swal({
          title: "Achtung!",
          text: "Dieser Abschnitt wurde bereits fertiggestellt. Bitte verlasse diese Räumlichkeit.",
          type: 'warning',
          confirmButtonText: 'Ok'
        }).then((result) => {
          //leiten weiter
          this.$router.replace("/story/"+this.storyid);
        })
      }
     },
  },
  methods: {
    update(){
      if(this.disabled) return false
      console.log("updating resumption");
      return this.$store.state.db.collection("stories").doc(this.storyid).update( { resumption: this.resumption })
    },
    lock(){
      console.log('locking');
      this.resumption.locked = true
      this.update();
    },
    unlock(){
      console.log('unlocking');
      this.resumption.locked = false
      this.update();
    },
    createResumption(){
      this.resumption.author = this.current_user_id
      this.update();
    },
    newBranch(){
      console.log("create a new branch of this story");

    },
    send () {
      if( this.resumption.text == "" || this.disabled || this.notAllowed || this.notMine){
        console.log("you cant do this");
        return false;
      } else {
        this.$swal({
          title: "Achtung!",
          text: "Wollen Sie diesen Abschnitt so einreichen? Sie können Ihn im Nachhinein nicht mehr bearbeiten und der Chat wird ebenfalls geschlossen!",
          type: 'warning',
          showCancelButton: true,
          cancelButtonColor: '#d33',
          confirmButtonText: 'Bestätigen',
          cancelButtonText: 'Abbrechen'
        }).then((result) => {
          //leiten weiter
          if(result.value){
            //stop watching, else causes multiple resumption resets
            this.leaving = true
            let unwatch = this.$watch("resumption.finished")
            unwatch()

            this.$store.dispatch('paragraphs/createParagraph', {
              author: this.current_user_id,
              created: Date.now(),
              text: this.resumption.text,
              storyId: this.storyid
              })
              .then(() => {
                //reset and update story
                this.$store.dispatch('stories/update', {
                  storyid: this.storyid,
                  storyFields: {
                    resumption: {},
                    updated: Date.now(),
                    conversation: null
                  }
                }).then(() => {
                  this.$router.replace("/story/"+this.storyid)
                })
              })
          }else{
            return false
          }
        })
      }
    }
  },
  computed: {
    disabled(){
      return (this.resumption.locked && this.resumption.author != this.current_user_id)
    },
    notMine(){
      return this.resumption.author != this.current_user_id
    },
    ...mapState({
      stories: state => state.stories.all
    })
  },
  beforeDestroy(){
    this.unsub()
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" coped>
</style>
