<template>
  <div class="dashboard">
    <div class="container">
      <h2>Die unendlichen Geschichten</h2>
      <story-list></story-list>
    </div>
  </div>
</template>

<script>
//mixins
//components
import StoryList from 'partials/StoryList'
export default {
  name: "Dashboard",
  components: { 'story-list': StoryList},
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" coped>
</style>
