<template>
	<div class="login">
		<h3>Einloggen</h3>
    <form @submit.prevent="login">
      <div class="form-group mt-4">
  	  	<input class="form-control mb-2" required v-model="email" type="text" name="email" placeholder="E-Mail">
	    	<input class="form-control mb-2" required v-model="password" type="password" name="password" placeholder="Password">
        <div v-if="hasError" class="alert alert-danger" role="alert">
          {{errorMessage}}
        </div>
	    	<button type="submit" class="btn btn-primary mb-5">einloggen</button>
	    	<p>Oder <router-link to="/sign-up">erstelle</router-link> einen Account</p>
      </div>
    </form>
	</div>
</template>

<script>
import error from 'mixins/error'
export default {
  name: "Login",
  mixins: [error],
  data: function() {
    return {
      email: "",
      password: "",
    };
  },
  methods: {
    login: function() {
      var that = this;
      this.$firebase.auth()
        .signInWithEmailAndPassword(this.email, this.password)
        .then(
          user => {
            this.$router.replace("dashboard");
          },
          err => {
            this.error("Etwas ist schiefgelaufen!");
          }
        );
    }
  }
};
</script>

<style lang="sass" scoped>
form
  max-width: 320px
  margin: auto
</style>
