<template>
	<div class="sign-up">
    <h3>Erstelle einen Account</h3>
    <form @submit.prevent="signUp">
      <div class="form-group mt-4">
		    <input class="form-control mb-2" required v-model="username" type="text" name="username" placeholder="Nutzername">
		    <input class="form-control mb-2" required v-model="email" type="text" name="email" placeholder="E-Mail">
		    <input class="form-control mb-2" required v-model="password" type="password" name="password" placeholder="Passwort">
        <div v-if="hasError" class="alert alert-danger" role="alert">
          {{errorMessage}}
        </div>
		    <button type="submit" class="btn btn-primary mb-5">registrieren</button>
        <p>Oder gehe zurück zum <router-link to="/login">Login</router-link></p>
      </div>
    </form>
	</div>
</template>

<script>
import error from 'mixins/error'
export default {
  name: "SignUp",
  mixins: [error],
  data: function() {
    return {
      email: "",
      password: "",
      username: "",
    };
  },
  methods: {
    signUp: function() {
      this.$firebase.auth()
        .createUserWithEmailAndPassword(this.email, this.password)
        .then(
          (user) => {
            try {

              let data = {
                username: this.username,
                email: user.email
              };

              this.$store.state.db.collection('users').doc(user.uid).set(data);

            } catch (error) {
              this.error("Etwas ist schiefgelaufen!");
            }
            this.$router.replace('dashboard');
          },
          (err) => {
            this.error("Etwas ist schiefgelaufen!");
          }
        );
    }
  }
};
</script>

<style lang="sass" scoped>
form
  max-width: 320px
  margin: auto
</style>
