<template>
  <div class="dashboard">
    <div class="container">
      <story-single :storyid="storyid"></story-single>
    </div>
  </div>
</template>

<script>
//mixins
//components
import StorySingle from 'partials/StorySingle'
export default {
  name: "Story",
  props: ['storyid'],
  components: { 'story-single': StorySingle },
  data() {
    return {};
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" coped>
</style>
