<template>
  <!-- Ein Authorroom für das Erstellen neuer Branches-->
  <div class="dashboard">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <div class="row">

            <div class="col-sm-8 d-flex flex-column">
              <div class="d-block text-center mb-2">
                <div class="header">
                  <div class="text">
                    Deine Fortsetzung von<br>
                    <h4 v-if="stories[storyid]" >"{{ stories[storyid].title }}"</h4>
                    <small class="text-muted">#{{resumptionid}}</small>
                  </div>
                  <div class="locker d-inline float-right">
                    <!-- <button class="btn btn-link text-secondary" v-if="notMine && !notAllowed" @click="newBranch">
                      <i class="fas fa-code-branch"></i>
                    </button> -->
                    <button class="btn btn-link text-secondary" :disabled="notAllowed || disabled || notMine" @click="lock" v-if="!resumption.locked">
                      <i class="fas fa-lock-open"></i>
                    </button>
                    <button class="btn btn-link text-secondary" :disabled="notAllowed || disabled || notMine" @click="unlock" v-else>
                      <i class="fas fa-lock"></i>
                    </button>
                  </div>
                </div>
              </div>
              <textarea autofocus v-model="resumption.text" @keyup="update" class="form-control flex-grow-1" :disabled="disabled || notAllowed" placeholder="Was geschah dann?" />
              <button type="submit" @click="send" :disabled="disabled || notAllowed || notMine" class="form-control btn btn-secondary mt-3 align-self-end">Senden</button>
            </div>

            <div class="col-sm-4 bg-light">
              <chat v-if="resumption.conversation" :conversation="resumption.conversation"></chat>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
//mixins
//components
import StorySingle from 'partials/StorySingle'
import Chat from 'partials/Chat'
import { mapState } from 'vuex'
import user from 'mixins/currentuser'

export default {
  name: "Authorroom",
  mixins: [user],
  props: ['storyid', 'resumptionid'],
  data() {
    return {
      resumption: {
        text: "",
        locked: false,
        author: null,
        finished: false,
        conversation: ""
      },
      leaving: false,
      unsub: null
    };
  },
  components: { "chat": Chat },
  created(){
    if(!this.resumptionid){
      this.resumptionid = "sduzfg"
    }
    // this.$store.dispatch('stories/get')
    this.$store.dispatch('resumptions/get', this.storyid)
  },
  mounted(){

		this.unsub = this.$store.state.db
			.collection("stories")
			.doc(this.storyid).collection('resumptions').doc(this.resumptionid)
			.onSnapshot(resumptionSnap => {
        if(!this.leaving){
          let source = resumptionSnap.metadata.hasPendingWrites ? "Local" : "Server";
          // console.log(`Source ${source}`);
          let resumption = resumptionSnap.data();

          if(!resumption || !resumption.author || resumption.finished){
            console.log("creating new resumption");
            this.createResumption();
            //update führt zum reload des storyobjektes - bein conversion check wird evtl erneut geupdated - kann zu problemen führen
            return false
          }else{
            this.resumption = resumption
            // this.resumption.text = resumption.text || ""
            // this.resumption.author = resumption.author || null
            // this.resumption.locked = resumption.locked || false
            // this.resumption.finished = resumption.finished || false
            // this.resumption.conversation = resumption.conversation || ""
          }

          //prüfe conversation
          if(!resumption.conversation){
            console.log("creating new conversation")
            let tmp = this.$store.dispatch("conversations/create", {
              created: Date.now(),
            }).then((convRef) => {
              let convoid = convRef.id
              console.log(convoid);
              console.log("leaving: ",this.leaving);

              this.$store.dispatch("resumptions/update", {
                storyid: this.storyid,
                resumptionid: this.resumptionid,
                resumptionFields: {
                  conversation: convoid
                }
              })
            })
          }
        }
			});
  },
  watch: {
    'resumption.finished': function (newVal, oldVal){
      if(newVal === true){
        //stoppe alle listener
        let unwatch = this.$watch("resumption.finished")
        unwatch()
        this.unsub()
        //sweetalert - Abschnitt wurde submitted - anschließend rausschmeißen
        this.$swal({
          title: "Achtung!",
          text: "Dieser Abschnitt wurde bereits fertiggestellt. Bitte verlasse diese Räumlichkeit.",
          type: 'warning',
          confirmButtonText: 'Ok'
        }).then((result) => {
          //leiten weiter
          window.history.length > 1 ? this.$router.go(-1) : this.$router.push('/')
          // this.$router.replace("/story/"+this.storyid);
        })
      }
     },
  },
  methods: {
    update(){
      if(this.disabled) return false
      console.log("updating resumption");
      return this.$store.state.db.collection("stories").doc(this.storyid).collection('resumptions').doc(this.resumptionid).set( this.resumption )
    },
    lock(){
      console.log('locking');
      this.resumption.locked = true
      this.update();
    },
    unlock(){
      console.log('unlocking');
      this.resumption.locked = false
      this.update();
    },
    createResumption(){
      this.resumption.author = this.current_user_id
      this.update();
    },
    newBranch(){
      console.log("create a new branch of this story");

    },
    send () {
      if( this.resumption.text == "" || this.disabled || this.notAllowed || this.notMine){
        console.log("you cant do this");
        return false;
      } else {
        this.$swal({
          title: "Achtung!",
          text: "Wollen Sie diesen Abschnitt so einreichen? Sie können Ihn im Nachhinein nicht mehr bearbeiten und der Chat wird ebenfalls geschlossen!",
          type: 'warning',
          showCancelButton: true,
          cancelButtonColor: '#d33',
          confirmButtonText: 'Bestätigen',
          cancelButtonText: 'Abbrechen'
        }).then((result) => {
          //leiten weiter
          if(result.value){
            //stop watching, else causes multiple resumption resets
            this.leaving = true
            let unwatch = this.$watch("resumption.finished")
            unwatch()

            //speichere neuen Absatz
            this.$store.dispatch('paragraphs/createParagraph', {
              author: this.current_user_id,
              created: Date.now(),
              text: this.resumption.text,
              storyid: this.storyid,
              branch: this.resumptionid,
              branchList: [this.resumptionid]
              })
              .then(() => {
                //TODO:
                //branchList des letzten Paragraphen updaten

                //close resumption
                console.log('close');

                this.$store.dispatch('resumptions/update', {
                  storyid: this.storyid,
                  resumptionid: this.resumptionid,
                  resumptionFields: {
                    finished: true
                  }
                }).then(() => {
                  this.$router.replace("/story/"+this.storyid)
                })
              })
          }else{
            return false
          }
        })
      }
    }
  },
  computed: {
    disabled(){
      return (this.resumption.locked && this.resumption.author != this.current_user_id)
    },
    notMine(){
      return this.resumption.author != this.current_user_id
    },
    ...mapState({
      stories: state => state.stories.all
    })
  },
  beforeDestroy(){
    this.unsub()
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" coped>
</style>
