<template>
  <div id="app">
    <app-header></app-header>
    <app-content></app-content>
    <app-footer></app-footer>
  </div>
</template>

<script>
import Header from 'layouts/Header'
import Content from 'layouts/Content'
import Footer from 'layouts/Footer'
export default {
  name: 'App',
  components: {
    'app-header': Header,
    'app-content': Content,
    'app-footer': Footer,
  },
}
</script>

<style lang="sass">
#app
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: #2c3e50
  margin-top: 60px

//global imports
//bootstrap vars override
$green: #41b883
$primary: $green
$secondary: #35495e
//bootstrap import
@import "~bootstrap/scss/bootstrap"


a
  color: $green
.btn
  &.btn-secondary
    min-width: 200px
  &.btn-link
    min-width: 0
</style>
